{% extends "base.html" %}
{% load static %}

{% block title %}Вход – Толстой Coffee{% endblock %}

{% block content %}
<div class="login-page">
    <div class="login-card">
        <div class="login-logo">
             <img src="{% static "images/logo.svg" %}" class="logo-img-banner">
            <span class="logo-text large">Толстой</span>
        </div>
        <p class="login-subtitle">Платформа обучения персонала</p>
        <form method="post" class="login-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username" class="form-label">Логин</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="id_password" class="form-label">Пароль</label>
                {{ form.password }}
            </div>
            {% if form.errors %}
            <div class="form-errors">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                    <p class="error-text">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
            {% endif %}
            <button type="submit" class="btn btn-primary btn-full">Войти</button>
        </form>
    </div>
</div>
{% endblock %}